/* Bootstrap (grid only) */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap-grid.min.css');

/* Win98 CSS */
@import url('https://unpkg.com/98.css');

html, body {
    overflow: hidden;
}


body {
    background-color: #01817F;
}

a {
    text-decoration: none;
}

p {
    color: white;
    font-family: "Pixelated MS Sans Serif";
    /* src: url("fonts/converted/ms_sans_serif_bold.woff") format("woff");
    src: url("fonts/converted/ms_sans_serif_bold.woff2") format("woff2"); */
    font-size: 11px;
}

.buttonlink {
    padding: 25px 25px 25px 25px;
}

.headertext {
    text-align: center;
}

#inline-layer-2-object-1 {
    float: left;
}

#inline-layer-2-object-2 {
    /*padding-left: 10px;*/
    margin-left: 10px;
    float: left;
}

.icon-computer {
    height: 50px;
    width: 50px;
    text-align: center;
    position: absolute;
    top: 270px;
    right: 830px;
}

.icon-recyclebin {
    height: 50px;
    width: 50px;
    text-align: center;
    position: absolute;
    top: 330px;
    right: 830px;
}

.icon-documents {
    height: 50px;
    width: 50px;
    text-align: center;
    position: absolute;
    top: 400px;
    right: 830px;
}

.icon-network-neighborhood {
    height: 50px;
    width: 50px;
    text-align: center;
    position: absolute;
    top: 475px;
    right: 830px;
}

.icon-label-text {
    margin-top: -1px;
}

#taskbar {
    position: absolute;
    bottom: 0;
    width: 101%;
    margin-left: -10px;
    margin-bottom: 16px;
    height: 10px;
    
}

#start-button {
    font-family: "Pixelated MS Sans Serif Bold";
    /* src: url("fonts/converted/ms_sans_serif_bold.woff") format("woff");
    src: url("fonts/converted/ms_sans_serif_bold.woff2") format("woff2"); */
    text-align: center;
    font-size: 15px;
}

#start-icon {
    height: 15px;
    width: 15px;
    padding-right: 5px;
    position: relative;
}

#ie-taskbar {
    margin-left: 10px;
}

#ie-taskbar-icon {
    margin-top: 5px;
}

#wm-taskbar {
    margin-left: 5px;
}

#wm-taskbar-icon {
}

#taskbar-base {
    background-color: #c0c0c0;
}