/* Bootstrap (grid only) */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap-grid.min.css');

/* Win98 CSS */
@import url('https://unpkg.com/98.css');

body {
    background-color: #01817F;
    
    /* Mini-Reset */
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    color: white;
    font-family: "Pixelated MS Sans Serif";
    font-size: 11px;
}

main {
    margin: 10px 0px;
}

.buttonlink {
    padding: 25px 25px 25px 25px;
}

.headertext {
    text-align: center;
}

.icon-div {
    width: 10ch;
    text-align: center;
}

.icon-label-text {
    margin-top: -1px;
    text-align: center;
}

#taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#start-button {
    font-family: "Pixelated MS Sans Serif Bold";
    text-align: center;
    font-size: 15px;
}

#start-icon {
    height: 15px;
    width: 15px;
    padding-right: 5px;
    position: relative;
}

#ie-taskbar {
    margin-left: 10px;
}

#ie-taskbar-icon {
    margin-top: 5px;
}

#wm-taskbar {
    margin-left: 5px;
}

#wm-taskbar-icon {
}

#taskbar-base {
    background-color: #c0c0c0;
}